[Unit]
Description=aios-tts
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/aios-tts
Restart=on-failure

[Install]
WantedBy=multi-user.target
